<div class="banner py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1><%= small_banner %></h1>
  </div>
</div>
<!-- Grace à notree object envoyé, on peut récuperer notre élément en utilisant le nom de notre partial, sans le _
voir https://guides.rubyonrails.org/layouts_and_rendering.html
chap 3.4.4-->
