<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>Mister-cocktail!</h1>
    <p>Change your life and learn to make cocktails at one of our campuses around the world.</p>
    <%= link_to 'Create your cocktail', new_cocktail_path, :class => "btn btn-success" %>
  </div>
</div>

<div class="container">
  <!-- Plants -->
  <div class="">
    <div class="row">
      <%= render partial: 'card', collection: @cocktails, as: :cocktail %>
    </div>
  </div>

  <!-- Form -->
</div>
